

<div class="text-center mt-5">
    <ng-container *ngIf="tasks; else elseTemplate">
        <div *ngIf="tasks.length > 0; else elseNoTask">
            <div *ngFor="let task of tasks; let i = index">
                <div>
                    - {{ task.title }}
                    <button class="complete" (click)="completeTask(task, i)"> ✅
                    </button>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-template #elseTemplate>
            <p>Recupero Tasks...</p>
        </ng-template>
</div>

<div class="footer text-center">
    <input type="text" [(ngModel)]="newTaskTitle">
    <button (click)="addTask()">+</button>
</div>

<ng-template #elseNoTask>
    <p>Ops, non ci sono Task</p>
</ng-template>

